Repository thegridelectric/gridworks-ps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, end-of-file-fixer, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "CodeGenerationTools/.*"
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "CodeGenerationTools/.*"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.6
    hooks:
      - id: ruff
        args: ["--select", "I"]
      - id: ruff-format

table structure created
  alembic/env.py
  alembic/versions/0d06cb9c4fa1_pnode.py
  alembic/versions/1c745f2fae23_forecastmethod.py
  alembic/versions/9eeb1aa1a9f4_price.py
  alembic/versions/b4a248d88198_hourlypriceforecasts.py
  alembic/versions/b64886b92189_market.py
  alembic/versions/c7801567409a_latestprediction.py
  alembic/versions/e058ab8233a1_hourlypriceforecastchannel.py
  seed_db.py
  src/gwprice/models/forecast_methods.py
  src/gwprice/models/hourly_price_forecast_channels.py
  src/gwprice/models/hourly_price_forecasts.py
  src/gwprice/models/latest_predictions.py
  src/gwprice/models/markets.py
  src/gwprice/models/p_nodes.py
  src/gwprice/models/prices.py
  src/gwprice/my_forecast_methods.py
  src/gwprice/my_hourly_forecast_channels.py
  src/gwprice/my_markets.py
  src/gwprice/my_p_nodes.py
  src/gwprice/type_helpers/latest_prediction.py
  src/gwprice/type_helpers/price.py
  src/gwprice/types/asl_types.py
  src/gwprice/types/gw_base.py
  src/gwprice/types/hourly_price_forecast.py
  src/gwprice/types/hourly_price_forecast_channel.py
  src/gwprice/types/market.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

various fixes
  seed_db.py
  src/gwprice/models/forecast_methods.py
  src/gwprice/models/hourly_price_forecast_channels.py
  src/gwprice/models/markets.py
  src/gwprice/models/p_nodes.py
  src/gwprice/my_markets.py
  src/gwprice/types/market.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

various fixes
  seed_db.py
  src/gwprice/models/forecast_methods.py
  src/gwprice/models/hourly_price_forecast_channels.py
  src/gwprice/types/market.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

remove dupes in data
  input_data/electricity_prices/isone/epda.actual__w.isone.4001__2019.csv
  input_data/electricity_prices/isone/epda.actual__w.isone.4001__2020.csv
  input_data/electricity_prices/isone/epda__w.isone.4001__2019.csv
Due: end-of-file-fixer, trailing-whitespace

clean up isone input data
  input_data/electricity_prices/isone/distp__w.isone.stetson__2020__gw.me.versant.a1.res.ets.csv
  input_data/electricity_prices/isone/distp__w.isone.stetson__2021__gw.me.versant.a1.res.ets.csv
  input_data/electricity_prices/isone/distp__w.isone.stetson__2022__gw.me.versant.a1.res.ets.csv
  input_data/electricity_prices/isone/epda__w.isone.4001__2019.csv
  input_data/electricity_prices/isone/epda__w.isone.4001__2020.csv
  input_data/electricity_prices/isone/eprt.actual__w.isone.4001__2019.csv
  input_data/electricity_prices/isone/eprt.actual__w.isone.4001__2020.csv
  input_data/electricity_prices/isone/eprt__w.isone.4001_DAnotRT__2020.csv
  input_data/electricity_prices/isone/eprt__w.isone.4001__2019.csv
  input_data/electricity_prices/isone/eprt__w.isone.4001__2020.csv
  input_data/electricity_prices/isone/eprt__w.isone.4001__2021.csv
  input_data/electricity_prices/isone/eprt__w.isone.4001__2022.csv
  input_data/electricity_prices/isone/eprt__w.isone.4008__2019__gw.da.predicted.rolling4wks.alpha.csv
  input_data/electricity_prices/isone/eprt__w.isone.stetson__2020.csv
  input_data/electricity_prices/isone/eprt__w.isone.stetson__2021.csv
  input_data/electricity_prices/isone/eprt__w.isone.stetson__2022.csv
  input_data/electricity_prices/isone/eprt__w.isone.stetson__gwpathwaysalpha__2020.csv
  input_data/electricity_prices/isone/eprt__w.isone.stetson__gwpathwaysalpha__2022.csv
  input_data/electricity_prices/isone/eprt__w.isone.stetson__gwpathwaysbeta__2020.csv
  input_data/electricity_prices/isone/eprt__w.isone.stetson__gwpathwaysbeta__2021.csv
  input_data/electricity_prices/isone/eprt__w.isone.stetson__gwpathwaysbeta__2022.csv
  input_data/electricity_prices/isone/eprt__w.isone.suroweic__2019.csv
  input_data/electricity_prices/isone/regp__w.isone__2019.csv
  input_data/gitignored/electricity_prices/isone/eprt__20220101T0500__168__w.isone.stetson__isoneexpress.finalrt.hr.web__33fc29ff.csv
Due: end-of-file-fixer, trailing-whitespace

add pendulum
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

fix MarketSlotName test
  src/gwprice/property_format.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

add aximo to market
  src/gwprice/types/market.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Add HourlyPriceCsv type helper
  src/gwprice/my_forecast_methods.py
  src/gwprice/my_markets.py
  src/gwprice/type_helpers/hourly_price_csv.py
  src/gwprice/type_helpers/price.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

rename input files to match p node
  input_data/electricity_prices/isone/distp__hw1.isone.ver.keene__2020__gw.me.versant.a1.res.ets.csv
  input_data/electricity_prices/isone/distp__hw1.isone.ver.keene__2021__gw.me.versant.a1.res.ets.csv
  input_data/electricity_prices/isone/distp__hw1.isone.ver.keene__2022__gw.me.versant.a1.res.ets.csv
  input_data/electricity_prices/isone/epda__hw1.isone.4001__2019.csv
  input_data/electricity_prices/isone/epda__hw1.isone.4001__2020.csv
  input_data/electricity_prices/isone/eprt__d.isone.4001_DAnotRT__2020.csv
  input_data/electricity_prices/isone/eprt__d.isone.4008__2019__gw.da.predicted.rolling4wks.alpha.csv
  input_data/electricity_prices/isone/eprt__d.isone.ver.keene__gwpathwaysalpha__2020.csv
  input_data/electricity_prices/isone/eprt__d.isone.ver.keene__gwpathwaysalpha__2022.csv
  input_data/electricity_prices/isone/eprt__d2.isone.ver.keene__gwpathwaysbeta__2020.csv
  input_data/electricity_prices/isone/eprt__d2.isone.ver.keene__gwpathwaysbeta__2021.csv
  input_data/electricity_prices/isone/eprt__d2.isone.ver.keene__gwpathwaysbeta__2022.csv
  input_data/electricity_prices/isone/eprt__hw1.isone.4001__2019.csv
  input_data/electricity_prices/isone/eprt__hw1.isone.4001__2020.csv
  input_data/electricity_prices/isone/eprt__hw1.isone.4001__2021.csv
  input_data/electricity_prices/isone/eprt__hw1.isone.4001__2022.csv
  input_data/electricity_prices/isone/eprt__hw1.isone.ver.keene__2020.csv
  input_data/electricity_prices/isone/eprt__hw1.isone.ver.keene__2021.csv
  input_data/electricity_prices/isone/eprt__hw1.isone.ver.keene__2022.csv
  input_data/electricity_prices/isone/regp__hw1.isone__2019.csv
  input_data/gitignored/electricity_prices/isone/eprt__20220101T0500__168__w.isone.stetson__isoneexpress.finalrt.hr.web__33fc29ff.csv
  src/gwprice/models/p_nodes.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Insert first price
  alembic/versions/c444bd3cd979_add_iso_info_to_pnode.py
  sample_price_load.py
  src/gwprice/models/p_nodes.py
  src/gwprice/models/prices.py
  src/gwprice/my_forecast_methods.py
  src/gwprice/my_markets.py
  src/gwprice/my_p_nodes.py
  src/gwprice/type_helpers/hourly_price_csv.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Seed db loads all isone hw1 prices from input folder
  alembic/versions/c444bd3cd979_add_iso_info_to_pnode.py
  poetry.lock
  pyproject.toml
  sample_price_load.py
  seed_db.py
  src/gwprice/dev_utils/seed_db.py
  src/gwprice/models/prices.py
  src/gwprice/type_helpers/hourly_price_csv.py
  src/gwprice/type_helpers/p_node.py
Due: check-toml, end-of-file-fixer, pyupgrade, trailing-whitespace

WIP set up api
  alembic/versions/f9118269f440_add_unique_constraint_for_forecasts.py
  src/gwprice/codec.py
  src/gwprice/database.py
  src/gwprice/models/hourly_price_forecast_channels.py
  src/gwprice/models/hourly_price_forecasts.py
  src/gwprice/my_p_nodes.py
  src/gwprice/rest_api.py
  src/gwprice/start_api.sh
  src/gwprice/type_helpers/__init__.py
  src/gwprice/types/__init__.py
  src/gwprice/types/p_node.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

move most type helpers into types. Add iso_id to p_node
  alembic/versions/9a8eb65d238e_add_iso_id_to_p_node.py
  alembic/versions/f9118269f440_add_unique_constraint_for_forecasts.py
  postgres_views.md
  seed_db.py
  src/gwprice/codec.py
  src/gwprice/database.py
  src/gwprice/dev_utils/seed_db.py
  src/gwprice/models/p_nodes.py
  src/gwprice/my_forecast_methods.py
  src/gwprice/types/asl_types.py
  src/gwprice/types/forecast_method.py
  src/gwprice/types/hourly_price_csv.py
  src/gwprice/types/market.py
  src/gwprice/types/p_node.py
  tests/type_helpers
  tests/types/test_forecast_method.py
  tests/types/test_hourly_price_csv.py
  tests/types/test_market.py
  tests/types/test_p_node.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

squash
  src/gwprice/models/hourly_price_forecasts.py
  src/gwprice/my_hourly_forecast_channels.py
  src/gwprice/type_helpers/forecast_method.py
  src/gwprice/type_helpers/hourly_price_csv.py
  src/gwprice/types/__init__.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

various
  CodeGenerationTools/GridworksCore/Types/AslUtil/DeriveAslUtil.xslt
  alembic/versions/9a8eb65d238e_add_iso_id_to_p_node.py
  input_data/electricity_prices/isone/eprt__hw1.isone.ver.keene.stetson__2020.csv
  input_data/electricity_prices/isone/eprt__hw1.isone.ver.keene.stetson__2021.csv
  input_data/electricity_prices/isone/eprt__hw1.isone.ver.keene.stetson__2022.csv
  postgres_views.md
  seed_db.py
  src/gwprice/codec.py
  src/gwprice/dev_utils/make_perfect_forecasts.py
  src/gwprice/forecasting/__init__.py
  src/gwprice/models/p_nodes.py
  src/gwprice/my_forecast_methods.py
  src/gwprice/my_hourly_forecast_channels.py
  src/gwprice/my_markets.py
  src/gwprice/my_p_nodes.py
  src/gwprice/rest_api.py
  src/gwprice/type_helpers/__init__.py
  src/gwprice/types/asl_types.py
  src/gwprice/types/hourly_price_csv.py
  src/gwprice/utils.py
  tests/types/test_hourly_price_csv.py
  tests/types/test_market.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

work on ci
  .github/workflows/tests.yml
  .readthedocs.yml
  noxfile.py
  src/gwprice/dev_utils/price_source_files.py
  src/gwprice/my_markets.py
  src/gwprice/types/hourly_price_csv.py
Due: check-yaml, end-of-file-fixer, pyupgrade, trailing-whitespace

minor
  alembic/versions/2693593566d4_pricesql_has_value_instead_of_price.py
  alembic/versions/684e7462e977_minor_tweaks.py
  seed_db.py
  src/gwprice/models/hourly_price_forecasts.py
  src/gwprice/models/prices.py
  src/gwprice/my_hourly_forecast_channels.py
  src/gwprice/rest_api.py
  src/gwprice/type_helpers/price.py
  src/gwprice/types/hourly_price_forecast.py
  src/gwprice/utils.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

use iso REST api to load prices. Add latest-forecast to API
  README.md
  alembic/versions/2693593566d4_pricesql_has_value_instead_of_price.py
  alembic/versions/684e7462e977_minor_tweaks.py
  postgres_views.md
  sample_add_forecast.py
  src/gwprice/add_hourly_energy_prices.py
  src/gwprice/config.py
  src/gwprice/my_markets.py
  src/gwprice/rest_api.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

remove unused test
  tests/test_price_source_files.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

WIP price service making forecasts
  README.md
  alembic/versions/44f3c18207e8_pnodes_have_time_zones.py
  seed_db.py
  src/gwprice/add_hourly_energy_prices.py
  src/gwprice/models/p_nodes.py
  src/gwprice/my_hourly_forecast_channels.py
  src/gwprice/my_markets.py
  src/gwprice/price_service_hack.py
  src/gwprice/types/market.py
  src/gwprice/types/p_node.py
  src/gwprice/utils.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

48h day-ahead price forecast
  48h_day_ahead_forecast.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

create uuid default factory for price_uid
  sample_add_forecast.py
  src/gwprice/config.py
  src/gwprice/rest_api.py
  src/gwprice/types/hourly_price_forecast.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

48h day-ahead price forecast
  day_ahead_forecast.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

types -> named_types
  CodeGenerationTools/GridworksCore/Types/AslUtil/DeriveAslUtil.xslt
  CodeGenerationTools/GridworksCore/Types/DeriveTypes.xslt
  CodeGenerationTools/GridworksCore/Types/TypeInit/DeriveTypeInit.xslt
  CodeGenerationTools/GridworksCore/Types/TypeTests/DeriveTypeTests.xslt
  alembic/versions/44f3c18207e8_pnodes_have_time_zones.py
  sample_add_forecast.py
  seed_db.py
  src/gwprice/add_hourly_energy_prices.py
  src/gwprice/codec.py
  src/gwprice/models/p_nodes.py
  src/gwprice/my_forecast_methods.py
  src/gwprice/my_hourly_forecast_channels.py
  src/gwprice/my_markets.py
  src/gwprice/my_p_nodes.py
  src/gwprice/named_types/__init__.py
  src/gwprice/named_types/asl_types.py
  src/gwprice/named_types/forecast_method.py
  src/gwprice/named_types/get_hourly_price_forecast_channel.py
  src/gwprice/named_types/hourly_price_csv.py
  src/gwprice/named_types/hourly_price_forecast.py
  src/gwprice/named_types/hourly_price_forecast_channel.py
  src/gwprice/named_types/market.py
  src/gwprice/named_types/p_node.py
  src/gwprice/named_types/price_forecast_channel_list.py
  src/gwprice/price_service_hack.py
  src/gwprice/rest_api.py
  src/gwprice/type_helpers/latest_prediction.py
  src/gwprice/type_helpers/price.py
  src/gwprice/types/__init__.py
  src/gwprice/types/gw_base.py
  src/gwprice/utils.py
  tests/types/test_forecast_method.py
  tests/types/test_get_hourly_price_forecast_channel.py
  tests/types/test_hourly_price_csv.py
  tests/types/test_hourly_price_forecast.py
  tests/types/test_hourly_price_forecast_channel.py
  tests/types/test_market.py
  tests/types/test_p_node.py
  tests/types/test_price_forecast_channel_list.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Update to latest gridworks-base
  poetry.lock
  pyproject.toml
  tests/types/test_p_node.py
Due: check-toml, end-of-file-fixer, pyupgrade, trailing-whitespace

Getting DA and RT prices winter 2023-2024
  day_ahead_forecast.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

stash
  handy_sqlalchemy.py
  src/gwprice/models/__init__.py
  src/gwprice/price_service.py
  src/gwprice/property_format.py
  src/gwprice/type_helpers/latest_prediction.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

basis price api
  basic_api/price_api.py
  basic_api/price_forecast.csv
  basic_api/price_forecast_updated.csv
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Working with price editor!
  basic_api/price_api.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Work in progress price API
  basic_api/price_api.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Slowly but steadily
  basic_api/price_api.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Working!
  basic_api/price_api.py
  basic_api/price_forecast.csv
  basic_api/price_forecast_updated.csv
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Minor edits
  basic_api/price_api.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Debug path
  basic_api/price_api.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Adding 2 more weeks to price forecasts
  basic_api/price_forecast.csv
  basic_api/price_forecast_updated.csv
Due: end-of-file-fixer, trailing-whitespace

Extended price forecast
  basic_api/price_forecast.csv
  basic_api/price_forecast_updated.csv
Due: end-of-file-fixer, trailing-whitespace

Using ISONE's DA prices for forecasts
  basic_api/day_ahead_forecast.py
  basic_api/price_api.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace

Moving to the src directory
  src/gwprice/day_ahead_forecast.py
  src/gwprice/price_api.py
Due: end-of-file-fixer, pyupgrade, trailing-whitespace
